<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta xmlns:th="http://www.thymeleaf.org"  charset="UTF-8"/>
    <title>Index Page</title>
</head>
<body>
    <h1>Hello SpringBoot</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin}">admin</a>
    </div>
    <hr/>
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span>
                | UserName: <span sec:authentication="principal.username"></span>
                | Roles: <span sec:authentication="principal.authorities"></span>
                | <a th:href="@{/logout}">Sign Out</a>
    </span>
</body>
</html>